@import "./mocha.css";

* {
  border: none;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 15px;
  min-height: 0;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  color: @text;
}

/*Entire Bar*/
#waybar {
  /* background: @crust; */
  color: @text;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/*workspaces*/
#workspaces * {
  /* font-size: 15px; */
  color: blue;
  padding: 0px;
}

#workspaces button label {
  color: 	@surface1;
  font-weight: bolder;
}

#workspaces button.active label {
  color: @base;
  color: black;
  font-weight: bolder;
}

#workspaces {
  background-color: @surface0;
  /* margin-top: 2px; */
  margin-right: 6px;
  margin-left: 6px;
  padding-right: 0px;
}

#workspaces button {
  background-color: @crust ;
  border-radius: 15px;
  margin-right: 10px;
  font-weight: bolder;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  color: @blue;
}

#workspaces button.active {
  background: @text;
  background-size: 400% 400%;
  color: @crust;
}

/*waybar-mpris*/
#custom-waybar-mpris {
  /* font-size:15px; */
}

#custom-waybar-mpris {
  /* font-size:15px; */
  background-color: transparent;
  color: @teal;
  background: @mantle;
  animation: gradient_f 20s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  /* margin-top: 10px; */
  margin-bottom: 2px;
  padding-right: 20px;
  padding-left:20px;
}
/*systemtray*/
#tray {
  background-color: transparent;
  /* background: @mantle; */
  background-size: 400% 400%;
  animation: gradient_f 20s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  border-radius: 15px;
  /* font-size: 15px; */
  /* margin-top: 2px; */
  padding: 10px;
  padding-top: 4px;
  padding-bottom: 0px;
}

#custom-clipboard {
  /* font-size: 15px; */
}

#custom-clipboard {
  background-color: transparent;
  color: @yellow;
  animation: gradient_f 20s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  /* margin-top: 2px; */
  padding-right: 5px;
  padding-left: 30px;
}
/*audio*/
#pulseaudio {
  /* font-size: 15px; */
}

#pulseaudio {
  background-color: transparent;
  color: @red;
  animation: gradient_f 20s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  /* margin-top: 2px; */
  background-color: @surface0;
  margin-right: 10px;
}

#mpd.playing {
  color: @green;
  background-color: @surface0;
}

/*clock*/
#clock {
  /* font-size: 15px; */
}

#clock label {
  color: @lavender;
  font-weight: bolder;
}

#clock {
  background-color: @surface0;
  color: @lavender;
  animation: gradient_f 20s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  /* margin-top: 2px; */
  margin-right: 0px;
}

#network {
  /* font-size: 15px; */
}

#network {
  background-color: transparent;
  color: @sapphire;
  animation: gradient_f 20s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  /* margin-top: 2px; */
}

#battery {
  background-color: transparent;
  color: @yellow;
  /* font-size: 15px; */
  animation: gradient_f 20s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
  /* margin-top: 2px; */
  background-color: @surface0;
  margin-right: 20px;
}
