format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$line_break\
$nix_shell\
$python\
$character"""

right_format = """
$cmd_duration\
$battery"""

add_newline = false

[line_break]
disabled = true

[directory]
style = "blue"

[character]
success_symbol = "[❯](purple)"
error_symbol = "[❯](red)"
vimcmd_symbol = "[❮](green)"

[git_branch]
format = "[$branch]($style)"
style = "fg:#6c7086"

[git_status]
format = "[[(*$conflicted$untracked$modified$staged$renamed$deleted)](218) ($ahead_behind$stashed)]($style)"
style = "cyan"
conflicted = "​"
untracked = "​"
modified = "​"
staged = "​"
renamed = "​"
deleted = "​"
stashed = "≡"
disabled = false 

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"

[cmd_duration]
format = '[$duration ]($style)'
min_time = 500
show_milliseconds = true
style = "yellow"

[[battery.display]]
threshold = 10
style = 'red'

[python]
# format = "[$virtualenv]($style) "
format = '[(\($virtualenv\) )]($style)'
style = "bright-black"

[nix_shell]
disabled = false
symbol = ""
impure_msg = "I"
pure_msg = "P"
unknown_msg = "U"
heuristic = true
